---
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: remove-tabs

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # - repo: https://github.com/pycqa/pydocstyle.git  TODO: Fix pydoc style errors
  #   rev: 5.1.1
  #   hooks:
  #     - id: pydocstyle

  # - repo: https://github.com/pre-commit/mirrors-mypy  TODO: Fix mypy errors
  #   rev: v0.790
  #   hooks:
  #     - id: mypy
  #       exclude: '^(docs|tasks|tests)|setup\.py'
  #       args: [--ignore-missing-imports]

  - repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
      - id: black
  # - repo: https://gitlab.com/PyCQA/flake8 TODO: Fix flake8 errors
  #   rev: '3.8.4'
  #   hooks:
  #     - id: flake8
  #       additional_dependencies: ['pep8-naming']
  #       # Ignore all format-related checks as Black takes care of those.
  #       args: ['--ignore', 'E2,W5', '--select', 'E,W,F,N', '--max-line-length=120']
