[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
voluptuous = "*"
"boto3" = "*"
thoth-common = "*"
python-dateutil = "*"
thoth-python = "*"
click = "*"
pyyaml = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
sqlalchemy-utils = "*"
alembic = "*"
thoth-ssdeep = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
coala-bears = "*"
flexmock = "*"
moto = "==1.3.8"
sadisplay = "*"
pydot = "*"
pytest-mypy = "*"
podman-compose = "*"
sqlalchemy-stubs = "*"

[requires]
python_version = "3.6"
