[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiogremlin = "==3.2.6rc1"
gremlinpython = "==3.2.6"
goblin = "==2.1.0"
requests = "*"


[dev-packages]

