[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogremlin = "==3.3.1"
gremlinpython = "==3.3.1"
goblin = "==2.1.0"
requests = "*"
voluptuous = "*"

[dev-packages]
